DB_URL=jdbc:mysql://localhost:3306/cinema_memory?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=cinema
DB_PASSWORD=cinema
REDIS_HOST=localhost
REDIS_PORT=6379
FRONTEND_URL=http://localhost:3000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=12345678
ADMIN_DISPLAY_NAME=Administrator
JWT_SECRET=P&YMNYW9CmHh&hAAp%3FR3Jkx7Pmrykg
JWT_ACCESS_TOKEN_MINUTES=15
JWT_REFRESH_TOKEN_DAYS=14
AWS_REGION=ap-northeast-2
S3_BUCKET=cinema-memory-dev
CLOUDFRONT_BASE_URL=dummy
GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy
KAKAO_CLIENT_ID=dummy
KAKAO_CLIENT_SECRET=dummy
